@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Husky Air opened for business in January 2008 when L. T. Scully and several other investors pooled their life savings and secured a rather large loan from a Chicago bank.</p>
<br /><p>Located at DeKalb Taylor Municipal Airport (DKB) in DeKalkb, Illinois, Husky Air is a fixed base operator (FBO) facility that offers a full range of services to the growing demands for business and private aviation. Currently, the company has 23 employees composed of pilots, mechanics, and office staff.</p>
<br /><p>
    As a FBO, Husky Air provides:<br />
    <ul>
        <li>Business jet, propjet, helicopter, and propeller aircraft charter</li>
        <li>Refueling</li>
        <li>Airframe, engine, propeller, and avionics maintenance</li>
        <li>Aircraft rental</li>
        <li>Flight instruction</li>
        <li>Pilot supplies</li>
    </ul>
</p>
<br /><p><b>Pilot Angels</b><br />Husky Air coordinates a charitable service called Pilot Angels. Working with hospitals, heatlth-care agencies, and organ banks, Husky Air matches volunteer private pilots, willing to donate their time and aircraft, with people in need whose health care problems require them to travel to receive diagnostic or treatment services. In addition, Pilot Angels also provides transportation for donor organs, supplies, and medical personnel. All flights are free of charge, and the costs are paid for by the volunteer pilots who use their own aircraft.</p>
<br /><p>The pilots who volunteer for the Pilot Angels program need no medical training and offer no medical assistance. The planes do not carry any medical equipment and do not have to accommodate any stretchers. Patients, however, must be medically stable and able to enter and exit the aircraft with little or no assistance. The Pilot Angels typically travel to or from a hospital or clinic for diagnosis, surgery, or some other treatment. Travel companions, such as a relative, friend, or nurse, are allowed.</p>
<br /><p>Information from pages 13 and 14 of Information Technology Project Management by Jack T. Marchewka, 5th Edition.</p>
