@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pilot Angels</h1>
    <p class="lead">Pilot Angels Information System</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What We Do</h2>
        <p>
            Pilot Angels is a non-profit sector of Husky Air. We coordinate flights between volunteer pilots and patients in need of flights for medical procedures.
            If you  would like to donate money to Pilot Angels please do so here: <a class="btn btn-default" href="http://huskyair20160314030149.azurewebsites.net/Donation">Donate &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Patient</h2>
        <p>If you are an individual in need of a flight please register here: <a class="btn btn-default" href="~/UserAccounts/Create">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pilot</h2>
        <p>If you are interested in donating your time and aircraft, please register here: <a class="btn btn-default" href="~/UserAccounts/Register">Pilot Registration &raquo;</a></p>
        <p>If you are a current pilot you may log in here to update information and availability. <a class="btn btn-default" href="~/UserAccounts/Login">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outside Parties</h2>
        <p>If you are a hospital, insurance company, or other health related organization, please register here: <a class="btn btn-default" href="~/UserAccounts/Register">Register &raquo;</a></p>
    </div>
</div>