<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://huskyair20160314030149.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>huskyair20160314030149.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HuskyAir20160314030149</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HuskyAir20160314030149</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HuskyAir.Models.ApplicationDbContext, HuskyAir" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OutsidePartyModels" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HuskyAir.Models.OutsidePartyModels, HuskyAir" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HuskyAirDBModels" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HuskyAir.Models.PatientOutsidePartyModels, HuskyAir" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HuskyAir.Models.OurDbContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HuskyAir.Models.OurDbContext, HuskyAir" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserAccountModels" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HuskyAir.Models.UserAccountModels, HuskyAir" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HuskyAir.Models.OurDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HuskyAirDBModels-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OutsidePartyModels-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserAccountModels-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="HuskyAir.Models.OurDbContext" />
  </ItemGroup>
</Project>